@section scripts{
    @Scripts.Render("~/bundles/app")
}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Товары
                    </h2>
                </div>
                <div class="panel-body">
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Название</td>
                                <td>Кол-во единиц товара в партии</td>
                                <td>Цена (шт.)</td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: products">
                            <tr>
                                <td><span data-bind="text: ProductID"></span></td>
                                <td style="padding:0px 5px;"><strong><span data-bind="text: ProductName"></span></strong></td>
                                <td><span data-bind="text: QuantityPerUnit"></span></td>
                                <td>$<span data-bind="text: UnitPrice"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-danger" data-bind="visible: error">
                <p data-bind="text: error"></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <form class="form-inline" data-bind="submit: getProduct">
                    <label for="inputProductId">ID</label>
                    <input id="inputProductId"type="number" size="5" />
                    <button type="submit">Найти товар по ID</button>
                </form>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Добавить товар
                    </h2>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" data-bind="submit: addProduct">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputProductName">Название</label>
                            <input class="form-control col-md-6" id="inputProductName" data-bind="value: newProduct.ProductName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputQuantityPerUnit">Кол-во единиц товара в партии</label>
                            <input class="form-control col-md-6" id="inputQuantityPerUnit" data-bind="value: newProduct.QuantityPerUnit" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputUnitPrice">Цена (шт.)</label>
                            <input type="number" class="form-control col-md-6" id="inputUnitPrice" data-bind="value: newProduct.UnitPrice" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputUnitsInStock">Кол-во партий товара на складе</label>
                            <input type="number" class="form-control col-md-6" id="inputUnitsInStock" data-bind="value: newProduct.UnitsInStock" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputUnitsOnOrder">Кол-во заказанных партий товара</label>
                            <input type="number" class="form-control col-md-6" id="inputUnitsOnOrder" data-bind="value: newProduct.UnitsOnOrder" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputReorderLevel">Уровень дозакупки товара (в шт.)</label>
                            <input class="form-control col-md-6" id="inputReorderLevel" data-bind="value: newProduct.ReorderLevel" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="inputDiscontinued">Снят с производства?</label>
                            <input type="checkbox" class="form-control col-md-6" id="inputDiscontinued" data-bind="value: newProduct.Discontinued" />
                        </div>
                        <button type="submit" class="btn btn-default">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row">

</div>