<div class="col-md-6">
    @*поле фильтрации таблицы товаров по ID*@
    <form class="form-inline"  data-bind="submit: GetProduct">
        <div class="form-group mx-sm-3 mb-2">
            <label for="filterProductID">ID</label>
            <input  data-bind="value: filterProductID" type="number" id="filterProductID">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Найти товар по ID</button>
    </form>

    @*таблица товаров*@
    <div class="card card-default">
        <div class="card-header text-center">
            <span class="h2 float-left">Товары</span>
            <div class="spinner-border float-right" id="productTableSpinner"></div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <td>ID</td>
                        <td>Название</td>
                        <td>Кол-во единиц товара в партии</td>
                        <td>Цена (парт.)</td>
                        <td colspan="2" class="text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productDetailModal" data-bind="click: AddProductInit">Добавить</button>
                        </td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: products">
                    <tr>
                        <td><span data-bind="text: ProductID"></span></td>
                        <td><strong><span data-bind="text: ProductName"></span></strong></td>
                        <td><span data-bind="text: QuantityPerUnit"></span></td>
                        <td>$<span data-bind="text: UnitPrice"></span></td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#productDetailModal" data-bind="click: $parent.EditProductInit">
                                    Редактировать
                                </button>
                                <button class="btn btn-danger" data-bind="click: $parent.DeleteProduct" type="button">
                                    &times;
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* Модальное окно для доавбления/редактирования товара *@
    <div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productDetailModalLabel" data-bind="text: productModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden id="ProductID">
                    <div class="row">
                        <label class="control-label col-md-4" for="ProductName">Название</label>
                        <input class="form-control col-md-6 form-control-sm" id="ProductName" />
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4" for="QuantityPerUnit">Кол-во единиц товара в партии</label>
                        <input class="form-control col-md-6 form-control-sm" id="QuantityPerUnit" />
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4" for="UnitPrice">Цена (парт.)</label>
                        <input type="number" class="form-control col-md-6 form-control-sm" id="UnitPrice" />
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4" for="UnitsInStock">Кол-во партий товара на складе</label>
                        <input type="number" class="form-control col-md-6 form-control-sm" id="UnitsInStock" />
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4" for="UnitsOnOrder">Кол-во заказанных партий товара</label>
                        <input type="number" class="form-control col-md-6 form-control-sm" id="UnitsOnOrder" />
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4" for="ReorderLevel">Уровень дозакупки товара (в парт.)</label>
                        <input type="number" class="form-control col-md-6 form-control-sm" id="ReorderLevel" />
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4" for="Discontinued">Снят с производства?</label>
                        <input type="checkbox" class="form-control col-md-6 form-control-sm" id="Discontinued" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            data-bind="text: productModalButton, click: $('#productDetailModal #ProductID').val()!='' ? EditProduct : AddProduct"
                            data-toggle="modal"
                            data-dismiss="modal"
                            data-target="#productDetailModal"></button>
                </div>
            </div>
        </div>
    </div>
</div>